<!DOCTYPE html>
<html>
<head>
	<link type="text/css" href="{{ url_for('static', filename='css/my_styles.css')}}" rel="stylesheet" />
	<title>{{title}}</title>
</head>
<body>
<ul class="mainmenu">
<li><a href="{{ url_for('index') }}">Главная</a></li>
<li><a href="{{ url_for('register') }}">Регистрация</a></li>
</ul>

<div class="content">
{% block content %}
    {% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>{% endfor %}
{% endblock %}
</div>
</body>
</html>