<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/my_styles.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    {% block title %}
    {% if title %}
        <title>My Site :: {{ title }}</title>
    {% else %}
        <title>My Site</title>
    {% endif %}
    {% endblock %}
</head>
<body>

{% block mainmenu %}
<ul class="mainmenu">
    {% for item in menu %}
    {% if ((item.title == 'Log in' or item.title == 'Register') and current_user.is_authenticated) or ((item.title == 'Log out' or item.title == 'Add post') and current_user.is_authenticated==False) %}
    {{ pass }}
    {% elif  item.title == 'Profile' and current_user.is_authenticated %}
    <li><a href="{{ url_for(item.url, username=current_user.getName()) }}">{{ item.title }}</a></li>
    {% elif item.title != 'Profile' %}
    <li><a href="{{ url_for(item.url) }}">{{ item.title }}</a></li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}

<div class="content">
{% block content %}

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{ cat }}">{{ msg }}</div>
{% endfor %}

<div class="clear"></div>

    {% if title %}
        <h1>{{ title }}</h1>
    {% else %}
        <h1>My Site</h1>
    {% endif %}

{% endblock %}
</div>

</body>
</html>